
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dccece; /* Change to your desired background color */
    padding: 10px;
}

.logo h2 {
    color: rgb(55, 0, 222); /* Change to your desired text color */
    font-size: 24px;
    margin: 0;
}

.nav-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-items li {
    margin-right: 20px;
}

.nav-items a {
    text-decoration: none;
    color: rgb(27, 125, 163); /* Change to your desired link color */
    font-size: 16px;
}

/* Add hover effect for links */
.nav-items a:hover {
    text-decoration: underline;
}

.home h1{
    text-align: center;
}

.home h3{
    text-align: center;
}