
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dccece; /* Change to your desired background color */
    padding: 10px;
}

.nav-items{
    width: 100%;
    height: 100vh;
    background: #000942;
    padding-left: 11%;
    padding-right: 8%;
}

/* Add hover effect for links */
.nav-items a:hover {
    text-decoration: underline;
}

.home h1{
    text-align: center;
}

.home h3{
    text-align: center;
}